*.aux
.cake
/checkouts
*.class
/classes
classes/
cruft/
*.ear
*jar
*.jar
/.lein-deps-sum
.lein-deps-sum
/.lein-failures
.lein-failures
.lein-plugins
/lib
lib/*
*.log
native
/native
pom-generated.xml
/pom.xml
pom.xml
PrivateNotes/
*.s??
target
/target
target/
*.war
runnables.clj
